.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;
    background-color: #8547be;
    color: #F5F5F5;
    font-weight: 600;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeIn 1s forwards ease;
}

.navbar div {
    display: flex;
    gap: 20px;
}

.section {
    margin-top: 50px;
    color: #F5F5F5;
    min-height: calc(100vh - 48px - 52px);
    position: relative;
    text-align: center;
    opacity: 0;
    padding-bottom: 50px;
    transform: translateY(-50px);
    animation: fadeIn 1s forwards ease;
}

@keyframes fadeIn {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.section div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    gap: 20px;
    padding: 10px;
    margin: auto;
}

.section button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.25rem;
    border: 1.5px solid #b772f7;
    box-shadow: 0 0 2px #b772f7;
    border-radius: .375rem;
    padding: 12px;
    transition: all .15s ease;
}

.section button:hover {
    background-color: #8547be;
    box-shadow: 2px 2px 0px #b772f7;
}

.section footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    font-weight: 100;
    font-size: .8rem;
    text-align: center;
    color: #d8aeff;
}

.section footer a {
    text-decoration: underline;
}

.modal_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(22, 22, 22, .6);
}

.modal_content {
    display: flex;
    flex-direction: column;
    background-color: #222;
    padding: 20px;
    max-width: 400px;
    min-width: 400px;
    min-height: 400px;
    gap: 20px;
    border-radius: .5rem;
    box-shadow: 0 0 0 50px rgba(22, 22, 22, .2);
}

.modal_content h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.modal_content input,
.modal_content textarea {
    background-color: #222;
    border: 1px solid #d8aeff;
    padding: 5px 10px;
    outline: none;
    color: #F5F5F5;
    width: 100%;
    border-radius: .2rem;
}

.modal_content button {
    background-color: #b772f7;
    color: #222;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 12px;
    transition: all .2s ease;
    border-radius: .2rem;
}

.modal_content button:hover {
    background-color: #8547be;
}

@media (max-width: 1024px) {
    .section div {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .section div {
        grid-template-columns: repeat(1, 1fr);
    }
}