@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    overflow-x: hidden;
}

/* Exemplo de uso da paleta dark mode em CSS */
body {
    background-color: #121212;
    color: #d8aeff;
}
