@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Roboto', sans-serif;
    position: relative;
    opacity: 0;
    padding-bottom: 50px;
    transform: translateY(-50px);
    animation: fadeIn 1s forwards ease;
}

@keyframes fadeIn {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.main h1 {
    font-weight: 300;
    font-size: 7rem;
}

.main h2 {
    font-size: 5rem;
    font-weight: 100;
    margin-bottom: 50px;
}

.main form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 900px;
}

.main form label {
    cursor: text;
}

.main input {
    background-color: transparent;
    color: #F5F5F5;
    border-bottom: 2px solid #222;
    outline: none;
    min-width: 100%;
    font-size: 4rem;
    text-align: center;
}

.main button {
    margin-top: 50px;
    padding: 15px 20px;
    width: 100%;
    font-size: 1.2rem;
    background-color: #b772f7;
    border-radius: 0.375rem;
    color: #F5F5F5;
    transition: all .2s ease;
}

.main button:hover {
    background-color: #8547be;
}

.main footer {
    position: absolute;
    bottom: 10px;
    font-weight: 100;
    font-size: .8rem;
}

.main footer a {
    text-decoration: underline;
}